[phases.setup]
nixPkgs = [
  "nodejs_20",
  "chromium",
  "glib",
  "nss",
  "atk",
  "cups",
  "dbus",
  "xorg.libX11",
  "xorg.libXcomposite",
  "xorg.libXdamage",
  "xorg.libXext",
  "xorg.libXfixes",
  "xorg.libXrandr",
  "xorg.libxcb",
  "xorg.libxkbcommon",
  "pango",
  "cairo",
  "alsa-lib",
  "at-spi2-atk",
  "at-spi2-core"
]

[phases.build]
cmds = ["npm install"]

[start]
cmd = "node index.js"