[phases.setup]
nixPkgs = [
  "nodejs_20",
  "chromium",
  "nss",
  "atk",
  "cups",
  "dbus",
  "xorg.libX11",
  "xorg.libXcomposite",
  "xorg.libXcursor",
  "xorg.libXdamage",
  "xorg.libXext",
  "xorg.libXfixes",
  "xorg.libXi",
  "xorg.libXrandr",
  "xorg.libXrender",
  "xorg.libXScrnSaver",
  "xorg.libXtst",
  "pango",
  "cairo",
  "alsa-lib",
  "libdrm",
  "mesa"
]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["echo build complete"]

[start]
cmd = "node index.js"
