[phases.setup]
nixPkgs = ["...", "gtk3", "glib", "nss", "nspr", "atk", "at-spi2-atk", "libcups", "dbus", "libdrm", "mesa", "expat", "libxkbcommon", "libxshmfence", "libxcomposite", "libxdamage", "libxrandr", "libxfixes", "libxext", "libxcb", "libx11", "alsa-lib", "pango", "cairo", "gdk-pixbuf"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = []

[start]
cmd = "node index.js"

